


.h3-header{
    font-weight: bold;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 1em;
    color: #0e51a7;
 }
 h4{
    margin: .5em 0 0;
    padding: .25em 0 0;
    color: #00a57c;
    font-size: 1em;
 }
 .p-header{
    font-size: .95em;
    line-height: 1.6em;
    font-family: Helvetica,Arial,sans-serif;
 }
 .p-desc{
    margin: 0;
    padding: .25em 0 .4em;
    position: relative;
    font-weight: 300;
    font-size: .9em;
    color: #77838f;
 }
.container-fluid {
    padding: 0px;
 }
 /* .addMargin-{
     margin-left: 10em !important;
     margin-right: 10em !important;
 } */
 .addPadding {
    padding: .25em !important;
    }
.removeMargin {
   margin-left:  500px;
   margin-right:  500px;
}
    /* Test */
    .box{
        width: 100%;
        background: transparent;
        margin-top: 30px;

    }